* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 10px;
    overflow-x: hidden;
    text-align: center;
    width: 90vw;
    min-height: 100vh;
    color: #eeeeee;
    background-color: #393E46;
}

header {
    padding: 20px;
    background-color: #222831;
    display: flex;
    justify-content: space-around;
}

.menu {
    padding: 20px;
    text-align: center;
}

.block {
    text-align: center;
    background-color: #222831;
    margin-bottom: 20px;
    margin: 10px;
    padding: 10px;
}

.input {
    white-space: nowrap;
    position: relative;
}

.controller {
    max-width: 400px;
    margin: auto;
}

td {
 max-width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 padding: 6px;
}

th {
    padding: 6px;
}


input[type=file] {
    width: 100%;
    border: 2px dashed #eee;
    padding: 40px;
    max-width: 400px;
    transition: 0.5s;
}

input[type=file]:hover {
    width: 100%;
    border: 2px solid #E84545;
    color: #E84545;
    padding: 40px;
    max-width: 400px;
}

::-webkit-file-upload-button{
    border: none;
    background-color: transparent;
    color: transparent;
}

button {
    padding: 5px;
    color: #eee;
    background-color: transparent;
    border: 2px solid #eee;
    margin: 5px;
}

button:hover {
    color: #E84545;
    border-color: #E84545;
    box-shadow: 0px 0px 30px 1px #E84545;
}

.element {
    color: #eee;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eee;
}

.element:hover, .element:focus {
    outline: none;
    border-color: #E84545;
    color: #E84545;
}

#get_val {
    color: #eee;
    background-color: transparent;
    border: 2px solid #eee;
    padding: 5px;
    width: 10%;
    margin-right: 15px;
}

.slider {
    display: flex;
}

.def-inp {
    background-color: transparent;
    border: 2px solid #eee;
    padding: 3px;
    color: #eee;
    transition: 0.3s;
}

.def-inp:focus {
    outline: none;
    color: #E84545;
    border-color: #E84545;
}

#size {
    padding: 5px;
    background-color: #eee;
    border: none;
}

#size:hover {
    outline: none;
}

#matrix {
    overflow-x: auto;
}

